* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  width:75%;
  margin-left: 200px;
}
.sec-1{
  width: 100%;
  height: 20vh;
  background-color: #565656;
  padding-left: 45%;
}

.sec-2{
  width: 100%;
  height: 4vh;
  background-color: #EEEEEE;
}

.sec-3{
  width: 100%;
  height: 3vh;
  background-color: #565656;
}

.contact{
  padding: 13px 0px 5px 30%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #767676;
}

header {
  border: 1px solid#cacaca;
}

.profImage{
  background-image: url('profilr-icon.png');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position: relative;
  top: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border: 3px dashed #F8BE27;
  padding: 1px;
}

.profName{
  position: relative;
  left: -81px;
  top: -18px;
  background-color: #F8BE27;
  font-size: 41px;
  font-family: Arial, Helvetica, sans-serif;
  height: 64px;
  width: 311px;
  padding-top: 11px;
  padding-left: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #3b3b3b;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 300px; 
}

/* body styling */

.imgs{
width: 30px;
border: 3px dashed #F8BE27;
border-radius: 50px;
display: inline-block;
}

.skills{
  width: 90%;
}

.skills td {
  width: 40%;
}

.skills input {
  width: 100%;
}
.vl {
  border-left: 2px solid #565656;
  height: 800px;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
input[type=range] {
  height: 5px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(248,190,39);
  background: linear-gradient(90deg, rgba(248,190,39,1) 50%, rgba(255,255,255,1) 100%);
  border-radius: 8px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 8px;
  width: 8px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F8BE27;
}
.icons{
  display: inline-block;
  font-size: 30px;
}

.title {
  display: inline-block;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #767676;
  padding-left: 10px
}

